@import "~bootstrap/scss/bootstrap.scss";


/* General styles */
body {
    overflow-x: hidden;
    overflow-y: auto;
}

main {
    padding-bottom: 85px;
}

.card-col {
    flex: 0 0 auto;
    width: 23.666667%;
}

div.row > *{
    padding: 0;
}

div.jumbotron h1 {
    font-weight: 400;
    font-size: 5.5vw;
}

div.card { border: none }
div.card-body {
    border: 1px solid rgb(0, 0, 0, 0.12);
    border-top: none;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.btn, .btn:focus {
    background-color: rgb(224, 122, 95);
    border: none;
}
.btn:hover {
    background-color: rgb(192, 106, 82);
}
.btn:active {
    background-color: rgb(245, 133, 102);
}
.btn:focus,.btn:active {
    box-shadow: none !important;
 }
/* Colors for text and background */
.back-light {
    background-color: rgb(240, 239, 235);
}

.color-dark {
    color: rgb(40, 42, 59);
}
.back-dark {
    background-color: rgb(40, 42, 59);
}

